<header class="border-b border-gray-200 flex items-center h-12 mt-4 pb-4">
  <div class="flex items-end space-x-4 pl-30">
  <%= image_tag "logo.png", class: "h-10 w-auto object-contain", alt: "Logo" %>
  <%= image_tag "logo_text.png", class: "h-8 w-auto object-contain", alt: "Logo Text" %>
  </div>
</header>